body {
  background-color: rgb(209, 247, 39);
  color: black;
  text-align: center;
  

}

*{
  padding: 0;
  margin: auto
}

h1{
  font-size: 45px;
  color: white;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif 
}

.Carousel.Item{
  background-color: rgb(211, 202, 0);
  padding-bottom: 0px;

  width: 50%;
  align-items: center;
  /* justify-content: center */
}
